.wrapper {
  width: 100%;
  height: 100vh;
  background-color: #ebebeb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  overflow: hidden;
}

.left-pane {
  width: 45%;
  height: inherit;
  overflow: hidden;
}

.left-pane .container {
  display: block;
  width: 90%;
  margin: 0 auto;
  position: relative;
  padding: 40px 0;
}

.left-pane .container header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.left-pane .container header .logo h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.5em;
  font-weight: 900;
}

.left-pane .container header .nav-button {
  font-size: 2em;
  cursor: pointer;
}

.left-pane .container section {
  position: relative;
  top: 160px;
  width: 70%;
  display: block;
  margin: 0 auto;
  font-family: 'Poppins', sans-serif;
}

.left-pane .container section .carousel-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  font-size: .8em;
  margin-bottom: 30px;
}

.left-pane .container section .carousel-nav span:nth-child(2) {
  width: 110px;
  height: 3px;
  background-color: #000;
  margin: 0 10px;
  border-radius: 3px;
}

.left-pane .container section .content {
  margin-bottom: 80px;
}

.left-pane .container section .content h1 {
  font-size: 11.2rem;
  font-weight: 700;
  text-transform: lowercase;
  margin-bottom: 60px;
}

.left-pane .container section .content p {
  font-size: 1.05rem;
  font-weight: 5 00;
  line-height: 1.6rem;
}

.left-pane .container section .bottom-carousel_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.left-pane .container section .bottom-carousel_nav div {
  width: 45px;
  height: 45px;
  font-size: 1.2em;
  border: 1px solid #000;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.left-pane .container section .bottom-carousel_nav .prev {
  margin-right: 15px;
}

.right-pane {
  width: 55%;
  height: inherit;
  overflow: hidden;
}

.right-pane .image {
  width: 95%;
  height: 80vh;
  float: right;
  overflow: hidden;
  background: url(/assets/woman.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

.right-pane .content {
  position: relative;
  width: 100%;
  height: 20vh;
  clear: both;
}

.right-pane .content .facts {
  width: 46%;
  height: 44.6vh;
  background-color: #000;
  position: absolute;
  bottom: 0;
  z-index: 99;
  font-family: 'Mada', sans-serif;
  padding: 100px 0px 60px 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.right-pane .content .facts .features {
  position: relative;
  width: 250px;
  height: 100%;
  color: #fff;
  display: block;
  margin: 0 auto;
}

.right-pane .content .facts .features ul li {
  list-style: none;
  margin-bottom: 45px;
  font-size: 1.1em;
}

.right-pane .content .facts .features ul li h3 {
  font-weight: 600;
  margin-bottom: 7px;
  font-family: 'Poppins', sans-serif;
}

.right-pane .content .facts .features ul li p {
  font-weight: 200;
  line-height: 1.4em;
  margin-bottom: 45px;
}

.right-pane .content .facts .features a {
  color: #fff;
  font-size: .8em;
  font-weight: 200;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 0;
}

.right-pane .content .facts .features a span {
  margin-left: 10px;
}

.right-pane .content .explore {
  width: 54%;
  height: inherit;
  background-color: #ffe7b4;
  float: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Mada', sans-serif;
}

.right-pane .content .explore .explore-item h3 {
  font-size: 1.3rem;
  font-weight: 800;
  margin-bottom: 15px;
  font-family: 'Poppins', sans-serif;
}

.right-pane .content .explore .explore-item a {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.15em;
  color: #000;
  cursor: pointer;
}

.right-pane .content .explore .explore-item a span {
  margin-right: 6px;
  color: #000;
}
/*# sourceMappingURL=main.css.map */